.kbadge {
  float: right;
  max-width: 4em;
}

.logo-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  img {
    max-width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.img-patrons { img { flex-basis: 30%; max-width: 30%; } }
.img-supporters {
  img {
    max-width: 20%;
    max-height: 4em;
  }

  @media (prefers-color-scheme: dark) {
    .enioka {
      background-color: white;
    }
  }
}

#memberList li {
  display: inline;
  width: 33%;
  float: left;
}
