<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
		<a href="http://ev.kde.org" target="_blank"><img src="images/kde-logo.png"/> KDE e.V. Board Autumn Sprint</a>
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
			<p>The KDE e.V. Board of Directors met in Berlin from 14th to 15th of October, 2017 for their autumn sprint. This was Eike's first participation as a board member, having taken on the position of the KDE e.V. Treasurer at Akademy 2017. The position was previously occupied by Marta Rybczynska. The group discussed topics such as KDE's 21th anniversary, staff and contractors, office inventory, events, community goals, strategic opportunities, fundraising infrastructure, websites, board self-assessment, and general budget. On the topic of events, the board reviewed <a href="https://dot.kde.org/2017/10/13/kde-powers-qt-world-summit" target="_blank">KDE's presence at Qt World Summit 2017</a> and identified things that went pretty well, as well as defined opportunities for improving future KDE participation in such events. They also discussed initial steps for announcing <a href="https://akademy.kde.org/2018" target="_blank">Akademy 2018 in Vienna</a>, defining sponsoring opportunities, and preparing the <a href="https://ev.kde.org/generalassembly/" target="_blank">KDE e.V. Annual General Assembly</a>. Furthermore, they also identified possible sprints for the upcoming months. Regarding the ongoing "<a href="https://evolve.kde.org/" target="_blank">Evolving KDE</a>" initiative, the Board discussed the means by which community members could vote for the proposed goals, and looked at ways to support goals' proponents to make the goals a reality in the next two to three years. Finally, they discussed strategic opportunities for KDE in the fields of mobile and automotive.</p>
                </div>
            </div>
            <div class="col-sm-6 pricing-table">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/board-sprint-autumn.jpg" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>KDE e.V. Board Autumn Sprint</h3>
                                    <p>Events, strategic opportunities, community goals, and much more!</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/board-sprint-autumn.jpg" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
