<div class="row">
    <div class="col-sm-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
        <h2 class="subheader">
            <a href="https://krita.org" target="_blank"><img src="images/krita-logo.png"/></a> Krita Sprint
        </h2>
    </div>
</div>
<div class="row">
    <div class="">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="service-info">
                    <p>During the last weekend of August 2016, twelve Krita contributors got together in Deventer, Netherlands for the fifth Krita Sprint. With all three Krita Google Summer of Code students present, the sprint was really productive.</p>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>Julian's work on adapting QPainter to OpenGL 3 is slowly making its way into Qt, Wolthera's first work on soft-proofing had already been released, and Jouni sat down with professional animator Bollebib to go over his work on improving animation support in Krita.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 pricing-table">
                <div class="folio-item wow fadeInLeftBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="folio-image">
                        <img class="img-responsive" src="images/krita.jpg" alt=""/>
                    </div>
                    <div class="overlay">
                        <div class="overlay-content">
                            <div class="overlay-text">
                                <div class="folio-info">
                                    <h3>Krita Sprint</h3>
                                    <p>Krita Team at Deventer</p>
                                </div>
                                <div class="folio-overview">
                                    <span class="folio-expand">
                                        <a href="images/krita.jpg" data-lightbox="portfolio">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="450ms">
                <div class="service-info">
                    <p>We designed the user interaction model for the new vector and text tools, discussed a website redesign (which has now been implemented), and examined the requirements for replacing the current OpenDocument Graphics file format for vector layers with SVG. We also planned the publication of an open-content project - a <a href="http://peppercarrot.com/" target="_blank">Pepper and Carrot comic book</a> - by the Krita Foundation. We drafted a new design for handling resources like brushes and gradients, and Dmitry showed off a new, simple and fast brush engine. Sven added support for editing stop-based gradients, and we fixed plenty of bugs overall. We didn't forget to have a great time, either. For many of us it was the first face-to-face meeting, while others were happy to see each other again.If you would like to read more about the Krita Sprint, check <a href="https://krita.org/en/item/2016-krita-sprint-day-1/" target="_blank">the report on the Krita website</a> and the information about new builds to <a href="https://krita.org/en/item/new-builds-to-test-krita-sprint-to-end-soon/" target="_blank">test Krita</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br/>
